/**************************
#     Tribute Page        # 
#   Freecodecamp Project  #
#      ©Diego Rojas       # 
#*************************/

:root {
    /*------Colors------*/
    --principal-color: #100e17;
    --secondary-color: #ff8a00;
    --terciary-color: #e2344a;
    --black-color: #000;
    --white-color: #fff;
    /*---- espacing ---- */
    --center-space: center;
    --auto-space: auto;
    /*-----style text ----*/
    --italic-text: italic;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 16px;
}


/* principal container */

#main {
    color: var(--white-color);
    width: 90%;
    background-color: var(--principal-color);
    margin: 0 var(--auto-space);
    box-shadow: 10px 10px 5px var(--black-color);
}


/* informaction character section */

#main #title {
    font-family: Tahoma, sans-serif;
    font-size: 2.5em;
    text-align: var(--center-space);
    padding: 0.5em;
}

#main #title::after {
    content: "Anti-War Activist";
    font-size: 0.3em;
    background-color: var(--secondary-color);
    border-radius: 1em;
    position: relative;
    padding: 0.5em;
    left: 1em;
    top: -0.5em;
}

#main #description {
    font-style: var(--italic-text);
    text-align: var(--center-space);
}


/* representative image character */

#img-div {
    width: 70%;
    margin: 4em var(--auto-space);
}

#img-div img {
    display: block;
    border-radius: 15px;
    max-width: 100%;
    width: 100%;
}

#img-div #img-caption {
    margin-top: 0.5em;
    font-style: var(--italic-text);
}


/* tribute information section */

#tribute-container #title-tribute-article {
    font-size: 2em;
    text-align: var(--center-space);
    color: var(--secondary-color);
}

#tribute-info {
    padding: 1em 5em;
    line-height: 1.5;
    font-size: 1.3em;
    text-align: justify;
}

#tribute-info p {
    margin-bottom: 2em;
}

#tribute-info #tribute-link {
    color: var(--terciary-color);
}